// Colors

// array with darkmode colors
$darkModeColors: (
    moreDark: #1a1717,
    mainDark: #262121,
    borderGrey: #707070,
    accentRed: #e61818,
    fontbaseLight: #707070,
    fontMoreLight: #b8b0b0,
);

/* Skapar en funktion för snygga till map-get-funktionen*/
@function darkmode($colorName) {
    @return map-get($darkModeColors, $colorName);
}

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
$mainFont: "Poppins", sans-serif;
$headings: Helvetica, sans-serif;

p {
    font-family: $mainFont;
}
a {
    font-family: $mainFont;
}
h1,
h2,
h3 {
    font-family: $headings;
}

// DarkMode fonts
#helloH1 {
    color: #707070;
    font-size: 20rem;
}

#darkMode p {
   color: darkmode(fontMoreLight);
}
#helloWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// class to vertical center, usen flexbox for block-level
.verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// round images
.roundImg {
    border-radius: 50%;
}
