body {
    background-color: #f8eeee;
}

// The widht to place content
.widhtMain {
    max-width: 1440px;
    margin: 0 auto;
}

#darkMode {
    background-color: darkmode(mainDark);
}


#helloWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#helloPhoto {
    max-width: 12em;
}

.hello2 {
    max-width: 50em;
}